$blue       : #0073aa;
$lighBlue   : #018fd1;
$orange     : #f5a931;
$white      : #fff;
$green      : #a5c431;
$darkGreen  : #3d8847;
$red        : #df364d;
$dark       : #23282d;
$grey       : #e4e4e4;
$darkGrey   : #aeaeae;

$shadowDark: rgba(34, 34, 34, .2);

$transitionTime: .25s;